.blog{
    display: flex;
    gap: 5em;
    justify-content: space-between;
}
/* media queries (medium device)*/
@media screen and (max-width:1024px) {
    .blog{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-head{
            text-align: center;
    }
  
  }
  /* media queries (small device)*/
  @media screen and (max-width:600px) {
    .blog{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    .blog-head{
        text-align: center;
}
  }